input {
	beats {
		port => {{ logstash_beats_tcp_port }}
	}

	tcp {
		port => {{ logstash_tcp_port }}
	}
}

filter {
  json {
    source => "message"
  }

  date {
    match => ["@timestamp", "ISO8601"]
    target => "@timestamp"
  }

  mutate {
    convert => {
      "body_bytes_sent" => "integer"
      "request_time" => "float"
      "status" => "integer"
    }
  }

  if "_jsonparsefailure" in [tags] {
    drop { }
  }

  mutate {
    rename => {
      "remote_addr" => "[nginx][remote_addr]"
      "body_bytes_sent" => "[nginx][body_bytes_sent]"
      "request_time" => "[nginx][request_time]"
      "status" => "[nginx][status]"
      "request" => "[nginx][request]"
      "request_method" => "[nginx][request_method]"
      "http_referrer" => "[nginx][http_referrer]"
      "http_user_agent" => "[nginx][http_user_agent]"
    }
  }
}

output {
	elasticsearch {
		hosts => [{% for host in elasticsearch_hosts %}"{{ elastic_virtual_proto }}://{{ host }}:9200"{% if not loop.last -%},{% endif %}{% endfor -%}]
		{% if elasticsearch_security_enabled -%}
		user => "{{ elasticsearch_username }}"
		password => "{{ elasticsearch_password }}"
		{% endif %}
		{%- if elasticsearch_https_enabled -%}
        cacert => "{{ logstash_certs_dir }}/{{ elasticsearch_ca_name}}"
		{% endif -%}
		
	}
}